APP_ENV=development
APP_PORT=3000

DATABASE_URL=

SUPABASE_URL=
SUPABASE_ANON_KEY=
SUPABASE_JWT_SECRET=

STORAGE_BUCKET_PRINT_FILES=print-files
STORAGE_BUCKET_PAYMENT_PROOFS=payment-proofs

MAX_UPLOAD_SIZE=52428800